body {
    background-color: #1a1a1a;
    color: #fff;
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.content-area {
    margin: 30px;
}

.input-area {
    margin: 25px;
}

.task-text {
    display: flex;
    align-items: center;
    height: 40px;
}

.hidden {
    display: none;
}

.delete-icon-area {
    display: flex;
    align-items: center;
    height: 40px;
}

.delete-icon {
    color: #ff1744;
    cursor: pointer;
}

.add-icon {
    color: #76ff03;
    cursor: pointer;
}

.complete {
    text-decoration: line-through;
}

li {
    background-color: #1e1e1e !important;
}